################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorApp/FileContentIndex/4e0cc2a5-00d7-4565-a28f-8d93bcb72571.vsidx
/.vs/BlazorApp/v17/.suo
/.vs/BlazorApp/FileContentIndex/a076d21c-b8b1-4418-818b-b0e29f0a6f59.vsidx
/.vs/BlazorApp/FileContentIndex
/BlazorTests/obj/Debug/net8.0/BlazorTests.csproj.BuildWithSkipAnalyzers
/.vs/BlazorApp/v17/TestStore/0/000.testlog
/BlazorApp/obj/Debug/net8.0/BlazorApp.csproj.BuildWithSkipAnalyzers
/.vs/BlazorApp/v17/TestStore/0/testlog.manifest
